*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Jost', sans-serif;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
header, main, footer{
    border: 5px solid black;
    margin: 10px;
}

.logo{
    margin: 5px;
    width: 20%;
    height: 50%;
}

.containerheader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    border:3px solid red;
}
.containerheader section{
    border: 2px solid blueviolet;
    padding: 5px;
          
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
}
.containermain{
    flex-direction: row;
    border: 3px solid tomato;
}
.containermain section{
    border: 2px solid blue;
    height: 80vh;
}
.containerfooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    border: 3px solid green;
}
.containerfooter section{
    border: 2px solid maroon;
}
.containerfooter section nav a{
    padding: 10px;
}
.containerfooter section nav a img{
    width: 30px;
}

.par{
    padding: 10px;
    text-align: justify;
 
}


.fijo {
    position: fixed;
    bottom: 50px;
    right: 50px;  
}

/*header{
    position: sticky;
    top: 0px;
}
*/
/*Apago para probar responsive*/

.grid-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lightblue;
    padding: 5px;
    margin: 10px;
}

.grid-item{
    background-color: lightcyan;
    display:flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;   
    
}

/*Termino apagado para probar responsive*/
div > img{
    width: 10%;
    border: 1px solid black;
    border-radius: 100%;
}

.tem{
    padding:10px;
    display: grid;
    grid-template-columns: minmax(0,auto);
}
a{
    text-decoration: none;
    }
section>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
}
grid-item tem, ul li{
    list-style-type: none; 
    font-size: 0,3em;
    text-align: left;
}
/* agrego estilos slider*/
#tarjetas{
    border: 5px solid green;
    width: 100%;
    height: auto;
    margin: 0px auto 1em;
    overflow: hidden;    
}
.container{
    display: flex;
    padding: 0;
    width: 400%;
    height: auto;

    animation: slide 16s infinite alternate ease-in-out;
}

.tarjeta{
    border: 1px solid black;
    width: 100%;
    height: auto;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .3);
}
.tarjeta img{
    border-radius: 50%;
    width: 10%;
}
.cuerpo{
    padding: 1em;
    text-align: center;
    height: auto;
}
@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}
/*termina estilos slider*/


.buscar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

.buscar input{
   font-size: 15px;
   color:#000;
   outline: none;
   border-radius: 30px;
   padding: 5px;
   width: 80%;
   height: 40%;
  }

.btn{
   padding: 2px;
   position: inherit;   
  }
.btn button i{
    cursor: pointer;
    text-align: center; 
   
}
/*
#conteContacto{
    border: 1px solid black;
    overflow: hidden;
}
*/
.form_contacto{
    width: 100%;
    height: 100%;
    max-width: 600px;
    padding: .2em;
}
.form{
    margin: auto;
    width: 90%;
    max-width: 300px;
    padding: .5em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .3);
}
.form_titulo, .form_p{
padding: 1em;
display: flex;
align-items: center;
justify-content: center;
}
form input, textarea{
    display: block;
    margin:30px;
}
.form_input{
    font-size: 1rem;
    width: 85%;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    font-family: 'Roboto', sans-serif;
}
.form_label{
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 0;
}
.form_submit{
    background-color: gray;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .5em 1em;
    border-radius: .5em;
    margin: auto;
    cursor: pointer;
}
.form_line{
    position: absolute;    
    bottom: 0;
    left: 0;
    width: 100%;
}



.grid-container-contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    max-height: max-content;
}
.grid-item-contacto{
    border: 1px solid black;
    overflow: hidden;
}

.map{
    width: 60%;
    height: 60%;
    position: relative;
    margin-top: 20px;
   
}

.numC{
    text-align: left;
    padding: 20px;

}
numC, h4{
    text-decoration: underline;
}

.volver{
    text-decoration: none;
    color: #000;
    text-align: right;
    padding: 25px;
} 
.containerfooter ul li{
    list-style-type: none;
    display: flex;
}

header a:visited{
    color: blue
}

header a:hover{
    color:darksalmon;
}

header a:active{
    color:white;
    background-color: grey;
    
}

footer a:visited{
    color: blue
}

footer a:hover{
    color:darksalmon;
}

footer a:active{
    color:white;
    background-color: grey;
    
}

.efecto{
    cursor: pointer;
    width: 150px;
    border-radius: 50px;
}

.efecto:hover{
    background-color: lightsalmon;
    transition-duration: 2s;
}

