*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color: lightblue;
}
nav, ul, li, a{
    text-decoration: none;  
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main{
    background-color:lightcyan;
}

footer{
    background-color: lightgoldenrodyellow;
}

.form_input{
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    font-size: 1rem;
    max-width:max-content;
}

.containerheader{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    padding: 15px;
    align-items:left;
    justify-content: space-around;
}
.containermain{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.containeritem{
    margin: 1em;
    padding: 1em;
    overflow-x: auto;    
}
.titulo{
    padding: 5px;
    margin: 5px;
}
label{
    padding: 5px;
    cursor: pointer;
    position: relative;
}

input{
   
    padding: 5px;
    width: 250px;
}

.btn{
    cursor: pointer;
    width: 100px;
}
.btn:hover{
    background-color: lightsalmon;
    transition-duration: 2s;
}

form div{
    padding: 5px;
}

.containerfooter ul li{
    list-style-type: none;
    display: inline-block;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


a:visited{
    color: blue
}

a:hover{
    color:darksalmon;
}

a:active{
    color:white;
    background-color: grey;
}

.containerfooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5em;
    justify-content: space-around;
    align-items: center;
    border: 3px solid green;
    padding: 1em;
    width: 100%;
    height: auto;
}

.containerfooter section{
    border: 2px solid maroon;
    overflow-x: auto;
}
.containerfooter section nav a{
    padding: 10px;
}
.containerfooter section nav a img{
    width: 30px;
}
.containeritem iframe{
    border: 1px solid black;
    width: auto;
}
iframe{

    width: 50vw;
    height: 50vh;    
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.tarjeta{
    border: 1px solid green;
    margin: 10px;
    border-radius: 2%;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    background-color: lightgoldenrodyellow;
}
.cuerpo{
    padding: 10px;
    margin: 5px;
}

button{
  padding: 5px;
  width: 120px;
  margin-bottom: auto;
  cursor:pointer;
  }

button:hover{
  background-color: lightsalmon;
  transition-duration: 2s;
}

