*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Jost', sans-serif;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
header, main, footer{
    border: 5px solid black;
    margin: 10px;
}

.logo{
    margin: 5px;
    width: 20%;
    height: 50%;
}

.containerheader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    border:3px solid red;
}
.containerheader section{
    border: 2px solid blueviolet;
    padding: 5px;
          
}
#menu, #menu-check {
    display: none;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
}
.containermain{
    flex-direction: row;
    border: 3px solid tomato;
}
.containermain section{
    border: 2px solid blue;
    height:auto;
}
.containerfooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    border: 3px solid green;
}
.containerfooter section{
    border: 2px solid maroon;
}
.containerfooter section nav a{
    padding: 10px;
}
.containerfooter section nav a img{
    width: 30px;
}

.par{
    padding: 10px;
    text-align: justify; 
}

.fijo {
    position: fixed;
    bottom: 50px;
    right: 50px;  
}

header{
    position: sticky;
    top: 0px;
  background-color: lightgray;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.grid-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:;
    justify-content: space-around; 
    align-items: center;/*Probando para que no desborde*/
}

.grid-item{
    background-color: ; 
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    flex: 1;
    text-align: center;
    flex-wrap: wrap;
    align-self: stretch;
    height:auto;
    justify-content: space-around;/*Probando para que no desborde*/
}

div > img{
    width: 10%;
    border: 1px solid black;
    border-radius: 100%;
}

.tem{
    padding: 10px;
}

a{
    text-decoration: none;
    }
section>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
}
.grid-item tem, ul li{
    list-style-type: none; 
    font-size: 0,3em;
    text-align: left;
}

/* agrego estilos slider chico*/
#tarjetas{
    border: 5px solid green;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;    
}
.container{
    display: flex;
    padding: 0;
    width: 600%;
    height: auto;

    animation: slide 36s infinite alternate ease-in-out;
}

.tarjeta{
    border: 1px solid grey;
    width: 100%;
    height: auto;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(54, 43, 94, 0.8);
}
.tarjeta img{
    border-radius: 50%;
    width: 10%;
}
.cuerpo{
    padding: 1em;
    text-align: center;
    height: auto;
}
@keyframes slide {
    0% {margin-left: 0%;}
    10% {margin-left: 0%;}

    15% {margin-left: -100%;}
    25% {margin-left: -100%;}

    30% {margin-left: -200%;}
    45% {margin-left: -200%;}

    50% {margin-left: -300%;}
    60% {margin-left: -300%;}

    65% {margin-left: -400%;}
    75% {margin-left: -400%;}

    80% {margin-left: -500%;}
    90% {margin-left: -500%;}

}
/*termina estilos slider chico*/

/* agrego estilos slider mediano*/
@media screen and (min-width: 768px){

.container{
    display: flex;
    padding: 0;
    width: 300%;
    height: auto;

    animation: slide 18s infinite alternate ease-in-out;
}

@keyframes slide {
    0% {margin-left: 0%;}
    30% {margin-left: 0%;}

    35% {margin-left: -100%;}
    65% {margin-left: -100%;}

    70% {margin-left: -200%;}
    95% {margin-left: -200%;}
}

}

/*termina estilos slider mediano*/

@media screen and (min-width: 992px) {
/* agrego estilos slider grande*/

.container{
    display: flex;
    padding: 0;
    width: 200%;
    height: auto;

    animation: slide 30s infinite alternate ease-in-out;
}

@keyframes slide {
    0% {margin-left: 0%;}
    45% {margin-left: 0%;}

    50% {margin-left: -100%;}
    95% {margin-left: -100%;}
}

}
/*termina estilos slider grande*/
.buscar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

.buscar input{
   font-size: 15px;
   color:#000;
   outline: none;
   border-radius: 30px;
   padding: 5px;
   width: 80%;
   height: 40%;
  }

.btn{
   padding: 2px;
   position: inherit;   
  }
.btn button i{
    cursor: pointer;
    text-align: center; 
   
}
/*
#conteContacto{
    border: 1px solid black;
    overflow: hidden;
}
*/
.form_contacto{
    width: 90%;
    height: 90%;
   /* max-width: 600px;
    padding: .2em;*/
}
.form{
    margin: auto;
    width: 90%;
    max-width: 300px;
    padding: .5em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .3);
}
.form_titulo, .form_p{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_input, textarea{
    display: block;
    margin:30px;
}
.form_input{
    font-size: 1rem;
    width: 85%;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    font-family: 'Roboto', sans-serif;
}
.form_label{
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 0;
}
.form_submit{
    background-color: gray;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .5em 1em;
    border-radius: .5em;
    margin: auto;
    cursor: pointer;
}
.form_line{
    position: absolute;    
    bottom: 0;
    left: 0;
    width: 100%;
}


/*
.grid-container-contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    max-height: max-content;
}
.grid-item-contacto{
    border: 1px solid black;
    overflow: hidden;
}
*/

.map{
    width: 70%;
    height: 70%;
    margin-top: 10px;
    overflow: hidden;
}

.volver{
    text-decoration: none;
    color: #000;
    text-align: right;
    padding: 25px;
} 
.containerfooter ul li{
    list-style-type: none;
    display: flex;
}

header a:visited{
    color: blue
}

header a:hover{
    color:darksalmon;
    color:black;
}

header a:active{
    color:white;
    background-color: grey;
    
}

footer a:visited{
    color: blue
}

footer a:hover{
    color:darksalmon;
    color:black;
}

footer a:active{
    color:white;
    background-color: grey;
    
}

.efecto{
    cursor: pointer;
    width: 150px;
    border-radius: 50px;
}

.efecto:hover{
    background-color: lightsalmon;
    transition-duration: 2s;
    color:black;
}
/*estilos tarjetas profes
.containerTarjetaProfes{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
}
.tarjetaProfes{
    border: 1px solid rgb(167, 167, 165);
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(54, 43, 94, 0.8);
}
.cuerpoTarjetaProfes{
    padding: 10px;
}
.tarjetaProfes img{
    border-radius: 50%;
    width: 25%;
}*/
@media only screen and (max-width: 700px) {
    .containerheader nav {
        display: none;
    }
    nav.visible{
        display: block;
    }
    #menu {
        display: block;
        background-color: ;
        font-size: 1.2em;
        font-weight: bold;
        border: 3px solid rgb(52, 52, 105);
        border-radius: 0.3em;
        position: absolute;
        right: 0.5em;
        top: .5em;
        z-index: 9999;
    }
    #menu-cerrar{
        display: none;
    }
    #menu.salir #menu-abrir{
        display: none;
    }
    #menu.salir #menu-cerrar{
        display: block;
    }
    .containerheader nav {
        position: absolute;
        top: 0;
        right: 0;
        height: auto;
        background-color: gray;
        padding-top: 0.5em;
        padding-right: 1.5em;
        opacity: 0.9;
    }
    .containerheader nav ul a {
        color: aliceblue;
    }
    .containerheader nav ul {
        display: block;
        text-align: right;
    }
}