*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Jost', sans-serif;
}
header{
    background-color: rgba(240, 237, 236, 0.9 );
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
nav, ul, li, a{
    text-decoration: none;  
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer{
    background-color: rgba(240, 237, 236, 0.9 );
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.containerheader{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    padding: 15px;
    align-items:center;
    justify-content: space-around;
}
.containermain{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.containermain section{
    /*border: 2px solid blue;*/
    height:auto;
}
.containeritem{
    margin: 1em;
    padding: 2em;
    overflow-x: auto;  
        
}


.titulo{
    padding: 5px;
    margin: 5px;
}
label{
    padding: 5px;
    cursor: pointer;
    position: relative;
}
input{
    padding: 5px;
    width: 250px;
}
.btn{
    cursor: pointer;
    width: 100px;
}
.btn:hover{
    background-color: lightsalmon;
    transition-duration: 2s;
    color:black;
}
form div{
    padding: 5px;
}
.form_group{
    margin: 5px;
    padding: 10px;
}
.form{
    margin: 2em auto;
    width: 90%;
    max-width: 300px;
    padding: .5em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .3);
}
.form_titulo, .form_p{
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_input{
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    font-size: 1rem;
    max-width:max-content;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
a:visited{
    color: blue
}

a:hover{
    color:darksalmon;
    color:black;
}
a:active{
    color:white;
    background-color: grey;
}
.containerfooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5em;
    justify-content: space-around;
    align-items: center;
    /*border: 3px solid green;*/
    width: 100%;
    height: auto;
}
.containerfooter section{
    /*border: 2px solid maroon;*/
    overflow-x: auto;
}
.containerfooter section nav a{
    padding: 10px;
}
.containerfooter section nav a img{
    width: 30px;
}
.containeritem iframe{
    border: 1px solid black;
    width: 100%;
    height: 350px;
    }

   
button{
  padding: 5px;
  width: 100px;
  margin-bottom: auto;
  cursor:pointer;
  }

button:hover{
  background-color: lightsalmon;
  transition-duration: 2s;
  color:black;
}
.efecto{
    cursor: pointer;
    width: 150px;
    border-radius: 50px;
}

.efecto:hover{
    background-color: lightsalmon;
    transition-duration: 2s;
    color:black;
}


/*tarjetas materias*/
.container{
    display:flex;
    flex-flow: wrap;
    justify-content:space-around;
    flex-grow: 1;
}
.tarjeta{
    border: 1px solid rgb(167, 167, 165);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(54, 43, 94, 0.5);
}
.cuerpo{
    padding: 15px;
    text-align:right;
}
.anotar{
    justify-content: center;
    margin: 15px;
    text-align: justify;
}

div>h3{
    text-align: center;
}

